/* ====== Testimonials.module.css ====== */

/* ====== BASE ====== */
.section {
  background-color: var(--white);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.mainTitle {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(95, 95, 95);
  text-align: center;
}

.subtitle {
  font-size: 14px;
  line-height: 1.5em;
  color: var(--main);
  margin-bottom: 32px;
  text-align: center;
}

.testimonialList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.testimonialCard {
  background-color: var(--cards);
  padding: 24px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.testimonialCard:hover {
  background-color: var(--cards-hover);
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  flex-direction: row;
}

.profileImage {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.name {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--main);
  margin: 0;
}

.personWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
}

.testimonialText {
  font-size: 14px;
  line-height: 1.5em;
  color: var(--main);
}

/* ====== TABLET ====== */
@media screen and (min-width: 768px) {
  .section {
    padding: 32px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 24px;
  }

  .cardHeader {
    gap: 24px;
    display: flex;
    justify-content: space-between;
  }

  .personWrapper {
    align-items: end;
    text-align: center;
  }

  .name {
    font-size: 1.8rem;
  }

  .title {
    font-size: 1.2rem;
  }
}

/* ====== DESKTOP ====== */
@media screen and (min-width: 1280px) {
  .section {
    padding: 42px;
  }

  .mainTitle {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 21px;
  }

  .title {
    font-size: 1.4rem;
  }

  .testimonialList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .testimonialCard {
    max-width: none;
  }

  .name {
    font-size: 2rem;
  }
}
