.pageWrapper {
  padding: 12px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
}

.roadmapContainer {
  width: 100%;
  max-width: 1312px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.topBlock {
  border-radius: 20px;
  border: 2px dashed var(--dark-green);
  background: var(--white);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  padding: 24px;
  text-align: center;
}

.roadmapTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
  color: var(--main);
}

.roadmapSubtitle {
  font-size: 16px;
  color: var(--main);
}

.roadmapIntro p {
  font-size: 14px;
  line-height: 1.6;
  color: var(--main);
  margin-bottom: 16px;
  text-align: center;
}

.bottomBlock {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  padding: 24px;
}

.roles {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.roleCard {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  padding: 18px;
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease, background 0.4s ease;
}

.roleCard:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.3);
  background: #f9fdfc;
}

.icon {
  width: 64px;
  height: 64px;
  margin-bottom: 8px;
  color: var(--primary);
}

.roleTitle {
    font-size: 22px;
  font-weight: 700;
    margin-bottom: 12px;
  color: var(--dark-green);
}

.roleCard p {
    font-size: 16px;
  color: var(--black);
  line-height: normal;
    margin-bottom: 12px;
}

.cardButton {
  background-color: var(--button);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  transition: background-color 0.3s ease;
  width: 100%;
}

.cardButton:hover {
  background-color: var(--button-hover);
}

/* ============ Tablet ============ */
@media screen and (min-width: 768px) {
  .pageWrapper {
    padding: 32px;
  }

  .roadmapTitle {
    font-size: 28px;
  }

  .roadmapSubtitle {
    font-size: 18px;
  }

  .icon {
    width: 80px;
    height: 80px;
  }

  .roles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
  }

  .roleCard {
    flex: 1 1 calc(50% - 12px);
      padding: 18px;
  }

  .roleCard p {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .roleTitle {
    font-size: 26px;
    margin-bottom: 16px;
  }

  .bottomBlock {
    padding: 36px;
  }


}

/* ============ Desktop ============ */
@media screen and (min-width: 1280px) {
  .pageWrapper {
    padding: 64px;
  }

  .topBlock {
    padding: 37px;
  }
  .roadmapTitleWrapper {
    display: flex;
    justify-content: start;
  }
  .roadmapTitle {
    font-size: 32px;
    margin-right: 49px;
  }

  .roadmapSubtitle {
    font-size: 20px;
  }

  .icon {
    width: 96px;
    height: 96px;
  }

  .roles {
    gap: 49px;
  }

  .roleCard {
    flex: 1 1 30%;
    padding: 18px 32px 32px;
  }

    .roleTitle {
  font-size: 32px;
  margin-bottom: 20px;
  }
  .bottomBlock {
    padding: 53px;
  }

  .roleCard p {
  font-size: 22px;
  margin-bottom: 20px;
}
}
